//@theme "/home/ahmed/.local/share/rofi/themes/spotlight.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/docu.rasi"
@theme "/usr/share/rofi/themes/arthur.rasi"
